
<% comments.each do |comment| %>
  <div class="well">
    <span class="small">Escrito por <strong><%= comment.nick %></strong> el <%= comment.mydate %> </span><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
    <p>
      <%= comment.comment %>
    </p>
  </div>
<% end %>