
	<div class="comments">		
		<div class="comment_header">
			Escrito por <b><%= comment.nick %></b> el <%= comment.mydate   %>
		</div>
		<div class="comment_text">	
			<p><%= comment.comment %></p>
		</div>
	</div>
