
<div id="babies_panel">
	<h1>Escoge un bebé</h1>

	<div >
		<h2><%= link_to 'Agregar un bebé' , new_baby_path %></h2>
	</div>
	<% @babies.each do |baby| %>

			<div class="baby">
				<p style="text-align:center"><%= baby.nick %></p>
				<%= image_tag baby.babyphoto.url(:thumb) %><br>
				<%= link_to 'acceder', baby_path(baby) %>
			</div>

	<% end %>


</div>