<h3>Entradas Recientes</h3>
<div id="articulos_recientes">
  <ul>
    <% @lastArticles.each do |art| %>
      <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true" size="10"></span> <em><%= link_to art.title, art, class: '' %></em></li> 
    <% end %>
  </ul>
</div>

<h3>Nuestras Imágenes</h3>
<div id="ultimas_imagenes">
  <% @imagenes.each do |img| %>
    <%= link_to(image_tag(img.newimg(:thumb),style:'width:125px'), img) %>
  <% end %>
	
</div>

<h3>Últimos Comentarios</h3>
<div id="ultimos_comentarios">

	<ul>
	<% @comments.each do |cmt| %>
		<li>- "<%= cmt.comment_short %> ..." <i>por <%= cmt.nick %></i></li>
	<% end %>
	</ul>
</div>