				<div id="father-mother-photo"><%= image_tag @parents.parent2_photo.url(:high) %></div>
				<h3><%= @parents.parent2_name %></h3>
				<div class="div_bordered"><%= @parents.parent2_desc.html_safe %></div>
		</div>

		
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="text-center">¿QUIEN SOY YO?</h2>

  </div>
</div>
	

