/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*$azul-claro: #66CEDB;*/
/*$color-texto: #444744;*/
/*$color-enlace: #444744;*/
$azul-claro: #66CEDB;

$color-texto: #444744;
$color-enlace: #245D89;


@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }

hr{
	border-color: #CDD4C6;
}

li{
	list-style: none;
	padding: 2px 0px 2px 2px;
	margin: 0 auto;
}
ul{
	margin-left: 0px;
	padding-left: 0px; 
}
a{
	color:$color-enlace;
}
$bgDefault      : #245D89;
$bgHighlight    : #245D89;
$colDefault     : #ffffff;
$colHighlight   : #f0ff00;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}


.bannertop{
	/*background-color: $azul-claro;*/
  background-image: url("textura.png");
  background-repeat: repeat-x;
	margin: -19px 0px 15px 0px;
}

.bannertop img{
	height: auto;
}

.galeria ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.galeria ul li {     
    list-style:none;
    margin-bottom:25px;           
}
.img-popup{
	cursor: pointer;
  height: 80px
}
.img-popup:hover{
	box-shadow: 5px 5px 5px #888888;
	padding-bottom: 2px;
	padding-right: 2px;
}

.galeria ul li img {
    cursor: pointer;
    height: 80px
}



.glyphicon.glyphicon-menu-right {
    font-size: 8px;
}
.art_body{

}
.separar_v_8{
	padding-top: 8px;
}
.article_images img{
	margin-right: 10px;
	padding: 4px 4px 4px 4px;
}

#ultimos_comentarios ul, #articulos_recientes ul{
	padding-left: 0px;
	margin-left: 0px;
}

#ultimos_comentarios ul li, #articulos_recientes ul li{
	text-align: left;
}

#ultimas_imagenes{
	text-align: center;
}

.galeria{
	height: 150px;
}
.thumbnail:hover{
	border: 1px solid #061F78;
}
.fb-share-button{
 
}
.twitter-share-button{
	vertical-align: bottom;
}
#social{
	float: right;
}
/*h2{
	color: #FFF;
	text-align: center;
	margin: 30px 4px 40px 4px;
}
body{	
	
	font-family: corbel, arial, helvetica;
	margin: 0 auto;
	background:#4ca2ff;
	color:#FFF;
}
 ul{
 	
 }
 li{
 	list-style:none;
 }
 p{
 	text-align: justify;
 }
 h1{
 	text-align: center;
 }
 a{
 	color: #ffca0d;
 	text-decoration: none;
 }
 a:hover{
 	text-decoration: underline;
 }
h2 a{
	background-color: #e28714;
 	border: 1px solid #e2bc00;
 	padding: 12px 10px 12px 10px;
 	color:#fff;
 	font-weight: bold;
 	margin: 50px 4px 50px 4px;	
}
h2 a:hover{
	background-color: #142373;
	border: 1px solid #138ae2;
	text-decoration: none;
}
 #medmenu{
 	background-color: #004080;
	color: #FFF;
	top: 0;
	width: 100%;
	text-align: center;
	position: fixed;
 }
#medmenu a{
	color: #FFF;
}
#medmenu li{
 	display: inline; 
	margin: 0px 40px 0px 40px;
	font-size: 24px;

 }
#topnav{
	background-color: #000;
	color: #FFF;
	top: 0;
	width: 100%;
	text-align: right;
}
#topnav a{
	color: #FFF;
}
 #content{
 	overflow: hidden;
 	margin: 0 auto;
 	width: 1000px;	
 	text-align: left;
 }
 .tinymce{
 	width: 100px;
 }
 .big_input_text{
 	font-size: 25px;
 	border: 1px solid #df9608;
 	border-radius: 5px;
 }
  #footer{
 	bottom: 0;
 	width: 100%;
 	color:#FFF;
 	background-color: #004080;
 	height: 15px;
 	position: fixed;
 	padding: 0px 0px 0px 0px;
 	text-align: center;
 	font-size: 12px;
 }
 #footer a{
 	color: #fff;
 	text-decoration: none;
 }
 .bigbutton{
 	padding: 20px 40px 20px 40px;
 	color:#fff;
 	font-weight: bold;
 	font-size:20px;
 	background-color: #e28714;
 	border: 1px solid #e2bc00;
 	border-radius: 8px;
 	box-shadow: 6px 6px 5px #888;
 }
 .bigbutton:hover{
 	background-color: #e2bc00;
 }
 .msg_error{
 	margin: 0 auto;
 	background-color: #ffad98;
 	color: #a82b00;
 	border: 1px solid #a82b00;
 	border-radius: 8px;
 	width: 90%;
 	padding: 10px 20px 10px 20px;
 	text-align: center;
 	font-weight: bold;
 }
  .msg_ok{
 	margin: 0 auto;
 	background-color: #9eff92;
 	color: #3e6439;
 	border: 1px solid #3e6439;
 	border-radius: 8px;
 	width: 90%;
 	padding: 10px 20px 10px 20px;
 	text-align: center;
 	font-weight: bold;
 }
 #left{
 	float: left;
 	width: 700px;
 }

 #right{
 	float: right;
 	width: 250px;
 }
 #right ul{
 	padding-left: 0;
 	font-style: italic;
 }
 #right div{
 	background-color: #fff;
	color:#494948;
	padding: 5px 15px 5px 15px;
	margin: 10px 0px 10px 0px;
	border-radius: 4px;
 }
 #right li{
 	font-size: 14px;
 	margin-bottom: 7px;
 }
.art_body{
	background-color: #FFF;
	color:#494948;
	padding: 5px 15px 5px 15px;
	margin: 10px 0px 30px 0px;
	text-align: justify;
	border-radius: 4px;
	box-shadow: 5px 5px 5px #5a5a5a;
}
.art_body h2{
	text-align: left;
}
.art_body a{
	color:#004080;
	font-weight: bold;
}
#will_paginate{
	font-size: 18px;
	text-align: center;
}
#ultimas_imagenes{
	text-align: center;
}
#ultimas_imagenes img{
	padding: 2px 2px 2px 2px
}
#ultimas_imagenes img:hover{
	
}
#parents{
	width: 100%;
	overflow: hidden;	
	text-align: center;
	margin: 0 auto;
}
#father-mother{
	float:left;
	margin: 0px 50px 0px 50px ;
	width:400px;

}
#how_we_met{
	float: none;
	position: relative;
	width: 700px;
	margin: 0px 150px 0px 150px ;
}
.div_bordered{
	border: 1px solid #FFF;
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
}
#father-mother-photo{
	
	height: 250px;
	margin: 0;
}
#babies_panel{
	margin: 0 auto;
	width: 900px;
	text-align: center;
}
.baby{
	text-align: center;
	display:inline-block;
	margin: 5px 20px 5px 20px;
}
#babies_panel ul{
	display: inline;
}
#babies_panel ul li{
	display: inline;
	width: 100px;
}
#table_articles{
	border-radius: 8px;
	background-color: #FFF;
	width: 100%;
}
#table_articles th{
	padding: 3px 8px 3px 8px;
	text-align: left;
	background-color: #ffc214;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
}
#table_articles th:first-child{
		border-top-left-radius:8px;		
}
#table_articles th:last-child{
		border-top-right-radius:8px;		
}
#table_articles td{
	padding: 3px 8px 3px 8px;
	font-size: 18px;
	text-align: left;
}
#table_articles tr{
	color: #4ca2ff;
}
#table_articles tr:hover{
	background-color: #ffc214;
	color: #FFF;
}
#table_articles tr:hover a{
	color: #FFF;
}



#table_gifts{
	border-radius: 8px;
	background-color: #FFF;
	width: 100%;
}
#table_gifts th{
	padding: 3px 8px 3px 8px;
	text-align: left;
	background-color: #ffc214;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
}
#table_gifts th:first-child{
		border-top-left-radius:8px;		
}
#table_gifts th:last-child{
		border-top-right-radius:8px;		
}
#table_gifts td{
	padding: 4px 8px 4px 8px;
	font-size: 18px;
}
#table_gifts tr{
	color: #4ca2ff;
}
#table_gifts tr:hover{
	background-color: #ffc214;
	color: #FFF;
}
#table_gifts tr:hover a{
	color: #FFF;
}

*/