/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*$azul-claro: #66CEDB;*/
/*$color-texto: #444744;*/
/*$color-enlace: #444744;*/
$azul-claro: #66CEDB;

$color-texto: #444744;
$color-enlace: #245D89;


@import "bootstrap-sprockets";
@import "bootstrap";



body { 
  padding-top: 70px;
  font-size:15.5px;
}

hr{
	border-color: #CDD4C6;
}

li{
	list-style: none;
	padding: 2px 0px 2px 2px;
	margin: 0 auto;
}
ul{
	margin-left: 0px;
	padding-left: 0px; 
}
a{
	color:$color-enlace;
}
$bgDefault      : #245D89;
$bgHighlight    : #245D89;
$colDefault     : #ffffff;
$colHighlight   : #f0ff00;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}


.bannertop{
	/*background-color: $azul-claro;*/
  background-image: url("textura.png");
  background-repeat: repeat-x;
	margin: -19px 0px 15px 0px;
}

.bannertop img{
	height: auto;
}

.galeria ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.galeria ul li {     
    list-style:none;
    margin-bottom:25px;           
}
.img-popup{
	cursor: pointer;
  height: 80px
}
.img-popup:hover{
	box-shadow: 5px 5px 5px #888888;
	padding-bottom: 2px;
	padding-right: 2px;
}

.galeria ul li img {
    cursor: pointer;
    height: 80px
}



.glyphicon.glyphicon-menu-right {
    font-size: 8px;
}
.art_body{

}
.separar_v_8{
	padding-top: 8px;
}
.article_images img{
	margin-right: 10px;
	padding: 4px 4px 4px 4px;
}

#ultimos_comentarios ul, #articulos_recientes ul{
	padding-left: 0px;
	margin-left: 0px;
}

#ultimos_comentarios ul li, #articulos_recientes ul li{
	text-align: left;
}

#ultimas_imagenes{
	text-align: center;
}

.galeria{
	height: 150px;
}
.thumbnail:hover{
	border: 1px solid #061F78;
}
.fb-share-button{
 
}
.twitter-share-button{
	vertical-align: bottom;
}
#social{
	float: right;
}
#div-cookies{
  bottom: 0;
  width: 100%;
  background-color:#245D89;
  color: #FFF;
  position: fixed;
  font-size: 12px;
  padding-top:5px;
  padding-bottom: 5px;
}