/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	
	font-family: corbel, arial, helvetica;
	margin: 0 auto;
	background:#4ca2ff;
	color:#FFF;
}
h2{
	color: #FFF;
	text-align: center;
}

 ul{
 	
 }
 li{
 	list-style:none;
 }
 p{
 	text-align: justify;
 }
 h1{
 	text-align: center;
 }
 a{
 	color: #ffca0d;
 	text-decoration: none;
 }
 a:hover{
 	text-decoration: underline;
 }

 #medmenu{
 	background-color: #004080;
	color: #FFF;
	top: 0;
	width: 100%;
	text-align: center;
	position: fixed;
 }
#medmenu a{
	color: #FFF;
}
#medmenu li{
 	display: inline; 
	margin: 0px 40px 0px 40px;
	font-size: 24px;

 }
#topnav{
	background-color: #000;
	color: #FFF;
	top: 0;
	width: 100%;
	text-align: right;
}
#topnav a{
	color: #FFF;
}
 #content{
 	overflow: hidden;
 	margin: 0 auto;
 	width: 1000px;	
 	text-align: left;
 }
 .tinymce{
 	width: 100px;
 }
 .big_input_text{
 	font-size: 25px;
 	border: 1px solid #df9608;
 	border-radius: 5px;
 }
  #footer{
 	bottom: 0;
 	width: 100%;
 	color:#FFF;
 	background-color: #004080;
 	height: 15px;
 	position: fixed;
 	padding: 0px 0px 0px 0px;
 	text-align: center;
 	font-size: 12px;
 }
 #footer a{
 	color: #fff;
 	text-decoration: none;
 }
 .bigbutton{
 	padding: 20px 40px 20px 40px;
 	color:#fff;
 	font-weight: bold;
 	font-size:20px;
 	background-color: #e28714;
 	border: 1px solid #e2bc00;
 	border-radius: 8px;
 	box-shadow: 6px 6px 5px #888;
 }
 .bigbutton:hover{
 	background-color: #e2bc00;
 }
 .msg_error{
 	margin: 0 auto;
 	background-color: #ffad98;
 	color: #a82b00;
 	border: 1px solid #a82b00;
 	border-radius: 8px;
 	width: 90%;
 	padding: 10px 20px 10px 20px;
 	text-align: center;
 	font-weight: bold;
 }
  .msg_ok{
 	margin: 0 auto;
 	background-color: #9eff92;
 	color: #3e6439;
 	border: 1px solid #3e6439;
 	border-radius: 8px;
 	width: 90%;
 	padding: 10px 20px 10px 20px;
 	text-align: center;
 	font-weight: bold;
 }
 #left{
 	float: left;
 	width: 700px;
 }

 #right{
 	float: right;
 	width: 250px;
 }
 #right ul{
 	padding-left: 0;
 	font-style: italic;
 }
 #right div{
 	background-color: #fff;
	color:#494948;
	padding: 5px 15px 5px 15px;
	margin: 10px 0px 10px 0px;
	border-radius: 4px;
 }
 #right li{
 	font-size: 14px;
 	margin-bottom: 7px;
 }
.art_body{
	background-color: #FFF;
	color:#494948;
	padding: 5px 15px 5px 15px;
	margin: 10px 0px 30px 0px;
	text-align: justify;
	border-radius: 4px;
	box-shadow: 5px 5px 5px #5a5a5a;
}
.art_body h2{
	text-align: left;
}
.art_body a{
	color:#004080;
	font-weight: bold;
}
#will_paginate{
	font-size: 18px;
	text-align: center;
}
#ultimas_imagenes{
	text-align: center;
}
#ultimas_imagenes img{
	padding: 2px 2px 2px 2px
}
#ultimas_imagenes img:hover{
	
}
#parents{
	width: 100%;
	overflow: hidden;	
	text-align: center;
	margin: 0 auto;
}
#father-mother{
	float:left;
	margin: 0px 50px 0px 50px ;
	width:400px;

}
#how_we_met{
	float: none;
	position: relative;
	width: 700px;
	margin: 0px 150px 0px 150px ;
}
.div_bordered{
	border: 1px solid #FFF;
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
}
#father-mother-photo{
	/*height: 250px;*/
	margin: 0;
}
#babies_panel{
	margin: 0 auto;
	width: 900px;
	text-align: center;
}
.baby{
	text-align: center;
	display:inline-block;
	margin: 5px 20px 5px 20px;
}
#babies_panel ul{
	display: inline;
}
#babies_panel ul li{
	display: inline;
	width: 100px;
}
#table_articles{
	border-radius: 8px;
	background-color: #FFF;
	width: 100%;
}
#table_articles th{
	padding: 3px 8px 3px 8px;
	text-align: left;
	background-color: #ffc214;
	color: #FFF;
	font-weight: bold;
}
#table_articles th:first-child{
		border-top-left-radius:8px;		
}
#table_articles th:last-child{
		border-top-right-radius:8px;		
}
#table_articles td{
	padding: 3px 8px 3px 8px;
}
#table_articles tr{
	color: #4ca2ff;
}
#table_articles tr:hover{
	background-color: #ffc214;
	color: #FFF;
}
#table_articles tr:hover a{
	color: #FFF;
}

