<div class="row">
  <div class="col-md-8 col-md-offset-2"> 
    <div class="row">   
      <% @images.each do |img| %>
          <div class="col-xs-12 col-md-2 col-md-offset-0"> 
            <p class="text-center"><%= img.myDate %></p>
            <%= link_to (image_tag(img.newimg(:thumb))), img, class: 'thumbnail' %>
          </div>
      <% end %>
    </div>
  </div>
</div>