Esta web utiliza 'cookies' propias y de terceros para ofrecerte una mejor experiencia y servicio. Si continuas navegando, consideramos que aceptas su uso. 
<%= link_to '<button type="button" class="btn btn-info btn-xs">ACEPTAR</button>'.html_safe, '#', id: "close_cookies" %> 
<%= link_to '<button type="button" class="btn btn-info btn-xs">MÁS INFORMACIÓN</button>'.html_safe, politicacookies_path %>